nav {
  background-color: var(--background);
  position: relative;
  padding: 1.5% 5%;
}

.logo {
  display: flex; 
  align-items: center;
  cursor: pointer;
  gap: 0.3rem;
  color: var(--text);
  font-family: 'Sacramento', cursive;
  font-size: 2rem;
}

.logo a {
  display: flex; 
  align-items: center;
  cursor: pointer;
  gap: 0.3rem;
  color: var(--text);
  font-family: 'Sacramento', cursive;
  font-size: 2rem;
}

.nav-logo img,
.logo img,
.logo a img {
  width: 2rem;
  height: 2rem;
  cursor: pointer;  
  align-self: self-start;
}

.nav-logo .close {
  width: 2rem;
  height: 2rem;
}

.nav-logo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

nav ul li {
  padding: 0.5% 1.5%;
}

@media (max-width: 992px) {
  nav .hidden {
    display: none;
  }

  nav ul {
    border-top: 3px solid var(--text);
    z-index: 2;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100%;
    right: 0;
    width: 50%;
    background-color: var(--background) 
  }
  
  nav ul li {
    text-align: center;
    padding: 1.5rem 0; 
    border-bottom: 1px solid rgba(0, 0, 0, 0.1); 
  }
  
  nav ul li:last-child {
    border-bottom: none;
    font-weight: 600;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  nav ul li:last-child::after {
    content: "";
    width: 5rem;
    height: 3px;
    position: absolute;
    background-color: red;
    top: 63%;
  }

  .fade-in-menu {
    -webkit-animation: fade-in-right 0.3s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
            animation: fade-in-right 0.3s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
  }
  
  .fade-out-menu {
    -webkit-animation: fade-out-right 0.3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
            animation: fade-out-right 0.3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  }
}

@media (min-width: 993px) {
  #mobile {
    display: none;
  }

  nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10%;
  }

  nav ul {     
    border-top: none;   
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
  nav ul li:last-child {
    background-color: var(--cta);
    color: var(--background);
    border-radius: 8px;
    font-weight: 600;
  }
  
  nav ul li:last-child:hover {
    box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, 0.2);
  }

  .fade-out-menu,
  .fade-in-menu {
    transform: translateX(0);
    opacity: 1;
  }
}

@media (min-width: 1201px) {

}


 @-webkit-keyframes fade-in-right {
  0% {
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}
@keyframes fade-in-right {
  0% {
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

@-webkit-keyframes fade-out-right {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
    opacity: 0;
  }
}

@keyframes fade-out-right {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
    opacity: 0;
  }
}
