.subscribe-breadcrumbs {
  background-color: #fff;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.subscribe-breadcrumbs p {
  font-size: 0.875rem;
  font-weight: 600;
  color:  var(--secondary);
  position: relative;
}

.subscribe-breadcrumbs p::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 20%;
  bottom: 100%;
  border-radius: 8px;
  background-color: var(--secondary);
}

.subscribe-breadcrumbs p.active {
  color: var(--accent2);
}

.subscribe-breadcrumbs p.active::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 20%;
  bottom: 100%;
  border-radius: 8px;
  background-color:  var(--accent2);
}

.subscribe-render {
  background-color: var(--secondary);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5%;
}

.subscribe button {
  width: 15rem;
  height: 2.5rem;
  border-radius: 2rem;
  border: none;
  align-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: var(--background);
  font-size: 1.25rem;
  font-weight: 600;
  letter-spacing: 1.5PX;
  background-color: var(--accent1);
  cursor: pointer;
}

.subscribe button:hover {
  background-color: var(--accent2);
}

@media (max-width: 576px) {
  .subscribe-breadcrumbs {
    padding-top: 2%;
  }
}

@media (max-width: 768px) {
  .subscribe-breadcrumbs {
    padding-top: 2.5%;
  }
}

@media (min-width: 769px) {
  .subscribe-breadcrumbs {
    padding-top: 1%;
  }
}

@media (min-width: 993px) {

}

@media (min-width: 1201px) {
}
