@import url('https://fonts.googleapis.com/css2?family=Athiti:wght@200;300;400;500;600;700&family=Bodoni+Moda:ital,opsz,wght@0,6..96,400;0,6..96,500;0,6..96,600;0,6..96,700;0,6..96,800;0,6..96,900;1,6..96,400;1,6..96,500;1,6..96,600;1,6..96,700;1,6..96,800;1,6..96,900&family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');

:root {
  --primary: #CDE7DC;   
  --secondary: #d7ddd7;
  --accent1: #E6BBAD;  
  --accent2: #194452;    
  --accent3: #99C1B9;
  --accent4: #ff8c00;
  --background: #F4F4F4; 
  --text: #30362F; 
  --cta:rgb(218, 28, 28);
}

*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--background);
  color: var(--text);
  font-size: 1rem;
  font-family: 'Athiti', Arial, sans-serif;
  font-weight: 400;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Sacramento', cursive;
  font-family: 'Lora', Times New Roman, serif;
  font-weight: 300;
}

button, a, ul, ol, li, input {
  font-family: 'Athiti', Times New Roman, serif;
  list-style: none;
  text-decoration: none;
}

a {
  color: inherit;
  font-size: 1rem;
}

.scroll-up {
  background: var(--cta);
  padding: 1% 1.5%;
  border-radius: 10px; 
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  cursor: pointer;
  z-index: 999;
}

.scroll-up img {
  width: 2rem;
  filter: invert(1);
}

.fade-in-right {
	-webkit-animation: fade-in-right 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: fade-in-right 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

.fade-out-right {
	-webkit-animation: fade-out-right 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: fade-out-right 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

 @-webkit-keyframes fade-in-right {
  0% {
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}
@keyframes fade-in-right {
  0% {
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

@-webkit-keyframes fade-out-right {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
    opacity: 0;
  }
}
@keyframes fade-out-right {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
    opacity: 0;
  }
}


@media (max-width: 576px) {
  html {
    font-size: 14px;
  }
}

@media (min-width: 577px) and (max-width: 768px) {
  html {
    font-size: 14px;
  }
}

@media (min-width: 769px) and (max-width: 992px) {
  html {
    font-size: 15px;
  }
}

@media (min-width: 993px) and (max-width: 1200px) {
  html {
    font-size: 16px;
  }
}

@media (min-width: 1201px) {
  html {
    font-size: 18px;
  }
}

@media (max-width: 576px) {

}

@media (min-width: 577px) and (max-width: 768px) {

}

@media (min-width: 769px) and (max-width: 992px) {
  
}

@media (min-width: 993px) and (max-width: 1200px) {

}

@media (min-width: 1201px) {

}
